<h2>I am client</h2>

<script type="text/javascript">
  session.connect(token, function(error) {
    if (error) {
      console.log(error.message);
    } else {
      session.on({
        streamCreated: function(event) {
          session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'});
        }
      });
    }
  });
</script>

